ion-fab-list {
  ion-label {
      position: relative !important;
      right: 130px !important;
      color: white !important;
      border-radius:30px !important;
      background-color: var(--ion-color-primary) !important; 
      padding: 4px 0px !important;
      text-align: center !important;
      align-items: center !important;
      width: 150px !important;
      top: -2px !important;
  }
}

ion-fab-list {
  ion-fab-button {
      position: relative !important;
      bottom: -10px !important; 
      margin-bottom : -20px !important;
      right: 47px !important;
      height: 40px !important;
  }
}





/* .ion-color-favorite {
    --ion-color-base: #058821;
    --ion-color-base-rgb: 105,187,123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #5ca56c;
    --ion-color-tint: #78c288;
  }

:root {
    --ion-color-favorite: #058821;
    --ion-color-favorite-rgb: 105,187,123;
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-contrast-rgb: 255,255,255;
    --ion-color-favorite-shade: #5ca56c;
    --ion-color-favorite-tint: #78c288;
  } */