/* ion-header{
    height: 50px !important;
    vertical-align: center !important;
}

ion-title{
    vertical-align: center !important;
    height: 100%;
    background-color: #003a00c7;
    color: white;
}

ion-fab-button .menu {
    left: 150px !important;
}

ion-content {
    --ion-background-color: #fbf6eb63 !important;
}

ion-footer {
    height: 50px !important;
    vertical-align: center !important;
    background-color: #003a00e3;
} */

