<app-life-board-menu></app-life-board-menu>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title vertical="center">
      Life Board
    </ion-title>
  </ion-toolbar>
  <app-auth-fab></app-auth-fab>  
</ion-header>

<ion-content>
<app-last-bot-added></app-last-bot-added>
<app-last-harvest-vegetable></app-last-harvest-vegetable>
<app-last-sow-vegetable></app-last-sow-vegetable>
<app-last-vegetable-kind-added></app-last-vegetable-kind-added>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>