  <ion-slides [options] = "sliderConfiguration">
      <ion-slide *ngFor="let homeSlide of homeSlides"> 
        <ng-template [ngIf]="this.category === 'presentation'">
          <ion-grid fixed>
            <ion-row>
              <ion-col sizeSm="6" offsetSm="3">
                <ion-card style = "border-radius:30px !important"> 
                  <ion-card-header>
                    <ion-card-title text-left>{{homeSlide.title}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content text-justify>
                    {{homeSlide.content}}
                  </ion-card-content>
                  <ion-card style = "border-radius:30px !important">
                    <ion-card-content>
                      <ion-grid fixed>
                        <ion-row>
                          <ion-col size="6" *ngFor="let iconName of homeSlide.iconNames">
                            <ion-icon name="{{iconName}}"></ion-icon>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template> 
      </ion-slide>
  </ion-slides>





